@font-face {
  font-family: 'Bebas Neue';
  src: url("./Fonts/BabasNeue/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: 'Rabbid Highway Sign II';
  src: url("./Fonts/RabbidHighway/RabbidHighwaySignII.otf");
}

@font-face {
  font-family: 'Natural Mono';
  src: url("./Fonts/NaturalMono/NaturalMono-Regular.ttf");
}


h1 {
  font-size: 100px;
  font-family: 'Bebas Neue', sans-serif;

}
h1.title {
  font-size: 200px;
  font-family: 'Bebas Neue', sans-serif;
	margin: 0;
}

h2.tagline {
  font-family: 'Natural Mono', sans-serif;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.8);
  font-size: 25px;
  margin-top: -20px;
}
h2.projects {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.608);
}
h2.project_description {
  font-family: 'Natural Mono', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#title_div {
  position: absolute;
  width: 100%;
  text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.608);
  color: white;
  text-align: center;
  align-items: center;
  height: auto;
  display: flexbox;
}

#projects_div {
  margin-top: 800px;
  margin-left: 200px;
  position: absolute;
  color: white;
}

#project_list {
  display: flex;
}
h1.project_box {
  color: white;
  font-size: 15px;
}
h2.project_description {
  color: white;
  font-size: 12px;
}
div.project_box {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(134, 134, 134, 0.3);
  border-radius: 15px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-right: 40px;
}
div.project_description_box {
  padding-left: 25px;
  padding-right: 25px;
}

img.project_box {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
#container {
  position: absolute;
  display: block;
}

ul.topnav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(134, 134, 134, 0.3);
  border-radius: 0px;
}


ul.topnav li.brand {
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

ul.topnav li a {
  color: #f1f1f1;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


/* ul.topnav li a {

  display: flex;
  color: #f1f1f1;
  padding: 7px 25px;
  margin-left: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
ul.topnav li a:hover {
  background-color: #4d4d4d50;
  color: rgb(255, 255, 255);
}

.arrow_anim {
  position: relative;
  height: 4em;
}
.arrow {
  border: solid #ffffff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: 
    translateX(-50%)
    rotate(45deg)
  ;
}

.arrow:nth-child(2) {
  animation:
    arrow1 1.5s
    ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation:
    arrow2 1.5s
    ease-in-out infinite;
}

@keyframes arrow_anim {
  0% {
    bottom: 80%;
    opacity: 1;
  }
  100% {
    bottom: 20%;
    opacity: 0;
  }
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}
@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}